/* section { margin-right: 10em; margin-left: 10em;} */
.padding-lr-h {padding-left:0.5em; padding-right:0.5em}
.padding-lr-1 {padding-left:1em; padding-right:1em}
.padding-lr-2 {padding-left:2em; padding-right:2em}
.padding-lr-3 {padding-left:3em; padding-right:3em}
.padding-lr-4 {padding-left:4em; padding-right:4em}

.margin-tb-h {margin-top:0.5em; margin-bottom:0.5em}
.margin-tb-1 {margin-top:1em; margin-bottom:1em}
.margin-tb-2 {margin-top:2em; margin-bottom:2em}
.margin-tb-3 {margin-top:3em; margin-bottom:3em}
.margin-tb-4 {margin-top:4em; margin-bottom:4em}

.margin-lr-auto {margin-left: auto; margin-right: auto}

.max-width-960px {max-width: 960px;}

.color-ct-lightgreen {color: #AFEAAA;}
.color-ct-green {color: #87E293;}
.color-ct-biggreen {color: #a7f442;}
.color-ct-deepgreen {color: #41924B;}
.color-ct-lightblue {color: #6BCAE2;}
.color-ct-blue{color: #51A5BA;}
.color-ct-lightorange {color: #FE8402;}
.color-ct-grey {color: grey;}
.color-ct-orangered {color: #F26739;}
.color-ct-cadetblue {color: #91BEAE;}
.color-ct-silver {color: silver;}
.color-ct-darkgrey {color: darkgrey;}
.color-ct-limegreen {color: #9BCB3C;}
.color-ct-white {color: #FFFFFF;}
.color-ct-darkslategrey {color: #104A57;}
.color-ct-bluepurple {color: #A86EAE;}

.fix-width-100 {width: 100%;}
.fix-width-80 {width: 80%;}
.fix-width-60 {width: 60%;}
.fix-width-40 {width: 40%;}
.fix-width-20 {width: 20%;}

.font-huge{font-size:5em;}
.font-grande{font-size:3em;}
.font-medium{font-size:2em;}
.font-small{font-size:1.5em;}
.font-xs{font-size:1.25em;}
.font-xxs{font-size:1em;}
.font-tiny{font-size:0.75em;}

.font-bold{ font-weight: bold;}
.font-italic{ font-style: italic;}

.font-lobster{font-family: 'Lobster', cursive;}
.font-yahei{ font-family: 'Microsoft JhengHei', 'SimHei', 'MingLiU';}
.font-kaiti { font-family: 'KaiTi';}
.font-pingfang {font-family:pingfang sc,microsoft yahei,helvatica; }

.align-center {text-align: center;}
.align-left {text-align: left;}
.align-right {text-align: right;}
